/* CUSTOM STYLES */

html{
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    background:#ddd;
}
main{
    column-count: 4;
    margin: 1%;
    column-gap:1em;
    text-align: center;
}
.card{
    display: inline-block;
}
.image{
    width: 100%;
    display:block;
    margin-bottom:0.3em;
    border-radius: 10px;
    box-shadow: 25px 25px 20px -20px #555;
}
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2em;
    margin: 0px 0 20px;
}
.profile{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
h3{
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,0);
}
h3:hover{
    border: 1px solid;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: #444;
}

@media screen and (max-width: 1080px){
    main{
        column-count: 3;
    }
}
@media screen and (max-width: 850px){
    main{
        column-count: 2;
    }
}
@media screen and (max-width: 550px){
    main{
        column-count: 1;
        text-align: center;
    }
    .user{
        justify-content: center;
    }
}